body {
    display : flex;
    justify-content: center;
    
}

#calculator-box {
    width: 300px;
    padding: 20px;
    margin-top : 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.inp {
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    border : 2px solid hwb(0 51% 47%);
    padding: 5px;
    font-size : 20px;
}

.inp:focus {
    outline: none;
}

.btns-box {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.btns {
    width: 80px;
    height: 50px;
    border : 2px solid hwb(0 51% 47%);
    border-radius: 4px;
    margin-bottom:6px ;
    margin-left: 2px;
    margin-right: 2px;
    font-size : 20px;
    font-weight: 500;
    font-family: sans-serif;
}

.btns:hover {
    filter: brightness(.9);
    cursor: pointer;
}

